@import './variables';
@import './mixins.scss';
@import './classes.scss';
@import './menu-icon';
@import './main-menu';
@import './home-page';
*,
::after,
::before {
    box-sizing: border-box;
}

a[href],
button {
    touch-action: manipulation;
}

:root,
body,
html {
    margin: 0;
    padding: 0;
    position: relative;
    background: #f0f0f0;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    font-size: 62.5%;
}

@media all and (max-width: 1400px) {
    :root {
        font-size: 52.5%;
    }
}

@media all and (max-width: 1025px) {
    :root {
        font-size: 48.5%;
    }
}

@media all and (max-width: 800px) {
    :root {
        font-size: 42.5%;
    }
}

@media all and (max-width: 600px) {
    :root {
        font-size: 38.5%;
    }
}

.sp-main-logo {
    width: 200px;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 100;
    padding: 10px 20px 6px 20px;
    background-color: $white-clr;
    border-radius: 6px;
    img {
        width: 100%;
    }
}

.sp-page-section {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}