.remove-default-button-styles {
    appearance: none;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0 0;
    outline: none;
    user-select: none;
    cursor: pointer;
}
.txt-left {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.txt-right {
    text-align: right;
}
.m-p-none {
    margin: 0;
    padding: 0;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-60 {
    margin-bottom: 60px;
}
.m-b-100 {
    margin-bottom: 100px;
}