.sp-main-menu-icon {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 100;
    overflow: visible;
    transition: .25s all ease-in-out;
    @extend .remove-default-button-styles;
    @include bp(lap) {
        width: 65px;
        height: 65px;
        top: 45px;
        right: 40px;
    }
    @include bp(tab) {
        width: 60px;
        height: 60px;
        top: 35px;
        right: 30px;
    }
    @include bp(phone) {
        width: 55px;
        height: 55px;
        top: 25px;
        right: 20px;
    }
    @include bp(xsphone) {
        width: 42px;
        height: 42px;
        top: 20px;
        right: 15px;
    }
    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, .2);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
        animation: circle1 1.5s infinite;
    }
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(196, 109, 189, .3);
        border-radius: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
        animation: circle2 1.8s infinite;
    }
}

.sp-main-menu-icon.sp-header-wrapper--opened {
    right: 15px;
    top: 10px;
}

.menu-icon {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $whiteClr;
    z-index: 4;
    margin: 0 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    border-radius: 100%;
}

@keyframes circle1 {
    0% {
        opacity: .5;
        background: rgba(255, 255, 255, .2);
    }
    30% {
        opacity: 1;
        background: rgba(196, 109, 189, .2);
    }
    100% {
        width: 120px;
        height: 120px;
        opacity: 0;
    }
}

@keyframes circle2 {
    0% {
        opacity: .5;
        background: rgba(255, 255, 255, .2);
    }
    30% {
        opacity: 1;
        background: rgba(196, 109, 189, .2);
    }
    40% {
        opacity: 1;
        background: rgba(196, 109, 189, .2);
    }
    100% {
        width: 110px;
        height: 110px;
        opacity: 0;
    }
}

@include bp(xsphone) {
    @keyframes circle1 {
        0% {
            opacity: .5;
            background: rgba(255, 255, 255, .2);
        }
        30% {
            opacity: 1;
            background: rgba(196, 109, 189, .2);
        }
        100% {
            width: 80px;
            height: 80px;
            opacity: 0;
        }
    }
}

@include bp(xsphone) {
    @keyframes circle2 {
        0% {
            opacity: .5;
            background: rgba(255, 255, 255, .2);
        }
        30% {
            opacity: 1;
            background: rgba(196, 109, 189, .2);
        }
        40% {
            opacity: 1;
            background: rgba(196, 109, 189, .2);
        }
        100% {
            width: 70px;
            height: 70px;
            opacity: 0;
        }
    }
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 16px;
    background: $primaryCl;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    @include bp(lap) {
        width: 15px;
    }
    @include bp(tab) {
        width: 14px;
    }
    @include bp(phone) {
        width: 13px;
    }
    @include bp(xsphone) {
        width: 11px;
    }
}

.menu-icon span:nth-child(even) {
    left: 20px;
    border-radius: 2px 0 0 2px;

    @include bp(lap) {
        left: 18px;
    }
    @include bp(tab) {
        left: 16px;
    }
    @include bp(phone) {
        left: 15px;
    }
    @include bp(xsphone) {
        left: 11px;
    }
}

.menu-icon span:nth-child(odd) {
    left: 36px;
    border-radius: 0 2px 2px 0;
    @include bp(lap) {
        left: 33px;
    }
    @include bp(tab) {
        left: 30px;
    }
    @include bp(phone) {
        left: 27px;
    }
    @include bp(xsphone) {
        left: 21px;
    }
}

.menu-icon span:nth-child(1),
.menu-icon span:nth-child(2) {
    top: 26px;
    @include bp(lap) {
        top: 24px;
    }
    @include bp(tab) {
        top: 22px;
    }
    @include bp(phone) {
        top: 19px;
    }
    @include bp(xsphone) {
        top: 14px;
    }
}

.menu-icon span:nth-child(3),
.menu-icon span:nth-child(4) {
    top: 34px;
    @include bp(lap) {
        top: 32px;
    }
    @include bp(tab) {
        top: 30px;
    }
    @include bp(phone) {
        top: 27px;
    }
    @include bp(xsphone) {
        top: 20px;
    }
}

.menu-icon span:nth-child(5),
.menu-icon span:nth-child(6) {
    top: 42px;
    @include bp(lap) {
        top: 40px;
    }
    @include bp(tab) {
        top: 38px;
    }
    @include bp(phone) {
        top: 35px;
    }
    @include bp(xsphone) {
        top: 26px;
    }
}

.menu-icon.open span:nth-child(1),
.menu-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-icon.open span:nth-child(2),
.menu-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(1) {
    left: 23px;
    top: 30px;
    border-radius: 2px 0 0 2px;
    @include bp(lap) {
        left: 21px;
        top: 26px;
    }
    @include bp(tab) {
        left: 19px;
        top: 24px;
    }
    @include bp(phone) {
        left: 17px;
        top: 23px;
    }
    @include bp(sphone) {
        left: 18px;
        top: 23px;
    }
    @include bp(xsphone) {
        left: 12px;
        top: 16px;
    }
}

.menu-icon.open span:nth-child(2) {
    left: 33px;
    top: 30px;
    border-radius: 0 2px 2px 0;
    @include bp(lap) {
        left: 31px;
        top: 26px;
    }
    @include bp(tab) {
        left: 29px;
        top: 24px;
    }
    @include bp(phone) {
        left: 25px;
        top: 23px;
    }
    @include bp(sphone) {
        left: 26px;
        top: 23px;
    }
    @include bp(xsphone) {
        left: 19px;
        top: 16px;
    }
}

.menu-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.menu-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.menu-icon.open span:nth-child(5) {
    left: 23px;
    top: 40px;
    border-radius: 2px 0 0 2px;
    @include bp(lap) {
        left: 21px;
        top: 36px;
    }
    @include bp(tab) {
        left: 19px;
        top: 34px;
    }
    @include bp(phone) {
        left: 17px;
        top: 31px;
    }
    @include bp(sphone) {
        left: 18px;
        top: 31px;
    }
    @include bp(xsphone) {
        left: 12px;
        top: 23px;
    }
}

.menu-icon.open span:nth-child(6) {
    left: 33px;
    top: 40px;
    border-radius: 0 2px 2px 0;
    @include bp(lap) {
        left: 31px;
        top: 36px;
    }
    @include bp(tab) {
        left: 29px;
        top: 34px;
    }
    @include bp(phone) {
        left: 25px;
        top: 31px;
    }
    @include bp(sphone) {
        left: 26px;
        top: 31px;
    }
    @include bp(xsphone) {
        left: 19px;
        top: 23px;
    }
}