.sp-profile-page {
    .sp-profile-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        .sp-profile-left {
            width: 47%;
            min-height: 45rem; 
            // background-image: url("../__images/profile-image.jpg");
            background-color: #ccc;
            background-position: center center;
            background-size: cover;
            box-shadow: 2px 2px 4px #ccc;

            @include bp(sphone) {
                width: 220px;
                min-height: 240px;
            }

            @include bp(tab) {
                align-self: center;
                margin-bottom: 40px;
                max-width: 280px;
            }
        }
        .sp-profile-right {
            width: 100%;
            padding-left: 50px;

            @include bp(tab) {
                padding-left: 0;
            }
        }

        @include bp(tab) {
            flex-direction: column;
        }
    }
    .sp-hobbies-section {
        width: 100%;
        display: flex;
    }
}

.sp-profile-info {
    h3,
    h6 {
        margin: 0 0;
    }
    h3 {
        @include fontSize(60);
        font-weight: $fwLighter;
        line-height: 4rem;

        @include bp(sphone) {
            line-height: 6rem;
        }
    }
    h6 {
        @include fontSize(30);
        font-weight: $fwSemiBold;
        line-height: 8rem;
        text-transform: uppercase;
    }
    p {
        margin-top: 15px;
        @include fontSize(20);
        font-weight: $fwRegular;
    }
}

.sp-profile__contacts {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    .sp-profile__contacts__item {
        flex: 0 0 50%;
        margin: 0 0 7px 0;
        position: relative;
        &:nth-last-child(2),
        &:nth-last-child(1) {
            margin-bottom: 0;
        }

        @include bp(sphone) {
            flex: 0 0 100%;
        }

        i {
            @include fontSize(30);
            font-weight: $fwLighter;
            margin-right: 20px;
            color: $primaryCl;
            position: absolute;
            top: 2px;
            left: 0;
        }
        label {
            padding-left: 50px;
            @include fontSize(17);
            font-weight: $fwRegular;
            line-height: 3.5rem;
            color: $grayClr;
            a {
                @include fontSize(17);
                font-weight: $fwRegular;
                line-height: 3.5rem;
                color: $grayClr;
                text-decoration: none;
            }
        }
    }
}

.sp-profile__buttons {
    @include bp(phone) {
        text-align: center;
    }
    
    .sp-btn-wrapper {
        &:first-child {
            margin-right: 30px;
        }
        @include bp(phone) {
            width: 200px;
            margin: 0 15px !important;

            .sp-btn {
                width: 100%;
            }
        }

        @include bp(sphone) {
            margin: 20px 10px 30px 10px !important;

            &:first-child {
                margin-bottom: 0 !important;
                margin-top: 10px !important;
            }

        }
    }
}

.sp-profile-hobbies {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -25px 0 -25px;

    @include bp(sphone) {
        margin: 0 -25px 0 -25px;
    }

    .sp-profile-hobby {
        flex: 0 0 33.3333%;
        padding: 25px 25px;

        @include bp(phone) {
            flex: 0 0 50%;
        }

        @include bp(xsphone) {
            flex: 0 0 100%;
            padding: 10px 25px;
        }

        .sp-profile-hobby__inner {
            background-color: $grayDClr;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 160px;

            @include bp(phone) {
                min-height: 120px;
            }

            @include bp(xsphone) {
                min-height: 100px;
            }

            .fa {
                clear: both;
                display: block;
                color: $primaryCl;
                @include fontSize(40);
            }

            h5 {
                clear: both;
                display: block;
                margin: 5px 0 0 0;
                color: $whiteClr;
                @include fontSize(18);
                font-weight: $fwRegular;
            }
        }
    }
}

