.sp-profile-page {
    .sp-profile-section {
        display: flex;
        flex-direction: row;
        .sp-profile-left {
            width: 45%;
            min-height: 420px;
            background-image: url("../__images/profile-image.jpg");
            background-position: center center;
            background-size: cover;
            box-shadow: 2px 2px 4px #ccc;
        }
        .sp-profile-right {
            width: 100%;
            padding-left: 30px;
        }
    }
    .sp-hobbies-section {
        width: 100%;
        display: flex;
    }
}