.sp-emp-list {
    width: 100%;
    display: block;
    ul {
        width: 100%;
        margin: 0 0;
        padding: 0 0;
        list-style-type: none;
        li {
            width: 100%;
            margin: 0 0;
            padding: 0 0;
        }
    }
}

.sp-expe {
    width: 100%;
    .sp-expe-inner {
        width: 100%;
        display: flex;
        flex-direction: row;
        @include bp(sphone) {
            flex-direction: column;
            align-items: center;
        }
        .sp-expe__comp-desc {
            flex: 1;
            padding: 0 57px 50px 0;
            @include bp(sphone) {
                display: flex;
                padding: 0 0 0 0;
                justify-content: center;
            }
            .sp-expe__comp-slot {
                background-color: $gray2Clr;
                float: right;
                padding: 8px 20px;
                text-align: right;
                height: 78px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include bp(sphone) {
                    text-align: center;
                }
                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background-color: $whiteClr;
                    border: 2px solid $primaryCl;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    right: -64px;
                    margin-top: -6px;
                    z-index: 10;
                    @include bp(sphone) {
                        top: 100%;
                        left: 50%;
                        right: auto;
                        margin-top: 10px;
                        margin-left: -6px;
                    }
                }
                &:after {
                    content: '';
                    width: 58px;
                    height: 2px;
                    background-color: $gray2Clr;
                    position: absolute;
                    top: 50%;
                    right: -57px;
                    margin-top: -1px;
                    z-index: 9;
                    @include bp(sphone) {
                        background-color: lighten($gray2Clr, 20%);
                        width: 1px;
                        height: 36px;
                        top: 100%;
                        left: 50%;
                        right: auto;
                        margin-left: -1px;
                    }
                }
            }
            h6 {
                @extend .m-p-none;
                @include fontSize(22);
                color: $primaryCl;
                font-weight: $fwSemiBold;
            }
            span {
                @extend .m-p-none;
                @include fontSize(18);
                color: $whiteClr;
                font-weight: $fwRegular;
            }
        }
        .sp-expe__position-desc {
            flex: 1;
            padding: 0 0 50px 57px;
            border-left: 2px solid $gray2Clr;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include bp(sphone) {
                border: 1px solid lighten($gray2Clr, 40%);
                display: flex;
                padding: 15px;
                justify-content: center;
                margin-top: 34px;
                text-align: center;
                margin-bottom: 30px;
                max-width: 420px;
                width: 100%;
            }
            h5 {
                @extend .m-p-none;
            }
            p {
                @extend .m-p-none;
            }
            .sp-expe__position-desc__projects {
                label {
                    @extend .m-p-none;
                }
                p {
                    @extend .m-p-none;
                }
            }
        }
    }
    &:nth-child(even) {
        .sp-expe-inner {
            flex-direction: row-reverse;
            @include bp(sphone) {
                flex-direction: column;
            }
            .sp-expe__comp-desc {
                padding: 0 0 50px 57px;
                border-left: 2px solid $gray2Clr;
                @include bp(sphone) {
                    display: flex;
                    padding: 0 0 0 0;
                    justify-content: center;
                    border: none;
                }
                .sp-expe__comp-slot {
                    float: left;
                    text-align: left;
                    @include bp(sphone) {
                        text-align: center;
                    }
                    &:before {
                        right: auto;
                        left: -64px;
                        @include bp(sphone) {
                            top: 100%;
                            left: 50%;
                            right: auto;
                            margin-top: 10px;
                            margin-left: -6px;
                        }
                    }
                    &:after {
                        right: auto;
                        left: -57px;
                        @include bp(sphone) {
                            background-color: lighten($gray2Clr, 20%);
                            width: 1px;
                            height: 36px;
                            top: 100%;
                            left: 50%;
                            right: auto;
                            margin-left: -1px;
                        }
                    }
                }
            }
            .sp-expe__position-desc {
                text-align: right;
                padding: 0 57px 50px 0;
                border-left: none;
                @include bp(sphone) {
                    border: 1px solid lighten($gray2Clr, 40%);
                    display: flex;
                    padding: 15px;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }
    &:last-child {
        .sp-expe-inner {
            position: relative;
            &:before {
                content: '';
                width: 24px;
                height: 24px;
                position: absolute;
                left: 50%;
                bottom: 0;
                background-color: $gray2Clr;
                margin: 0 0 0 -12px;
                @include bp(sphone) {
                    display: none;
                }
            }
        }
    }
}