.sp-services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include bp(tab) {
        max-width: 620px;
        margin: 0 auto;
    }

    .service-slot {
        flex: 0 0 30%;
        min-height: 160px;
        margin: 0 0 3% 0;
        background: $grayClr;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 20px 20px 20px 80px;
        color: $whiteClr;
        transition: all 0.3s ease-in-out 0s;
        overflow: hidden;

        @include bp(lap) {
            padding: 20px 20px 20px 70px;
        }
        @include bp(tab) {
            flex: 0 0 47%;
            min-height: 120px;
        }
        @include bp(phone) {
            min-height: 100px;
            padding: 15px 15px 15px 75px;
        }
        @include bp(sphone) {
            flex: 0 0 100%;
            min-height: 50px;
            padding: 12px 12px 12px 65px;
        }
        @include bp(xsphone) {
            padding: 10px 10px 10px 60px;
        }

        i {
            @include fontSize(35);
            position: absolute;
            top: 55px;
            left: 25px;
            color: $primaryCl;

            @include bp(lap) {
                top: 54px;
            }
            @include bp(tab) {
                top: 53px;
            }
            @include bp(phone) {
                top: 45px;
            }
            @include bp(sphone) {
                @include fontSize(40);
                top: 18px;
                left: 20px;
            }
            @include bp(xsphone) {
                @include fontSize(35);
                top: 16px;
            }
        } 

        h3 {
            
        }

        p {
            color: rgba( $whiteClr, .5 );
            @include bp(lap) {
                margin-top: 5px;
            }
        }

        &:after {
            content: "";
            display: block;
            border-top: 500px solid #fff;
            border-left: 500px solid transparent;
            margin-top: -15%;
            margin-left: 100%;
            opacity: 0;
            position: absolute;
            transform: scale(2);
            transition: all 0.3s ease-in-out 0s;
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
        }

        &:hover,
        &:focus {
            background: darken($primaryCl, 35%);

            &:after {
                margin-left: 0;
                opacity: 0.2;
            }

            i {
                color: $whiteClr;
                text-shadow: 2px 2px 3px rgba( $blackClr, 0.6 );
            }

            h3 {
                text-shadow: 2px 2px 3px rgba( $blackClr, 1 );
            }

            p {
                color: rgba( $whiteClr, .8 );
            }
        }
    }
}