$primaryCl: #c46dbd;
$whiteClr: #ffffff;
$grayClr : #333333;
$grayDClr : #3d3d3d;
$gray2Clr : #5c5c5c;
$blackClr : #000000;


$gradientCl1 : #823f96;
$gradientCl2 : #9d3195;
$gradientCl3 : #b52692;
$gradientCl4 : #d11a8f;
$gradientCl5 : #e60f8a;

//Typography
$fwLighter : 200;
$fwLight : 300;
$fwRegular : 400;
$fwSemiBold : 600;
$fwBold : 700;
$fwBlack : 900;