$primary-clr:       #c46dbd;
$white-clr:         #ffffff;
$gray-clr :         #333333;
$gray-clr-d :       #3d3d3d;
$gray-2 :           #5c5c5c;
$black-clr :        #000000;


//Typography
$fwLighter :        200;
$fwLight :          300;
$fwRegular :        400;
$fwSemiBold :       600;
$fwBold :           700;
$fwBlack :          900;